/* src/NavBar.css */
.navbar {
    background-color: #fff;
    padding: 1rem;
    font-family: 'Creepster', sans-serif;
    font-size: 24px;;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    color: #222;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-link:hover {
    text-decoration: underline;
}